<header>
    <nav>
        <a href="/">MovieLib</a>
        <ul>
            <li><a href="/directors">Directors</a></li>
            <li><a href="/directors/new">Add director</a></li>
        </ul>
    </nav>
</header>